{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
    .title
    {
        font-size:20px;
        margin-bottom:15px;
        margin-top:20px;
    }
    .login
    {
        margin-top:100px;
        font-size:50px;
    }
    .form-group{

        margin: 50px 200px;
    }
</style>
<form method="POST">
<h2 align="center" class="login">Login</h2>
<div class="form-group">
<label class="title" for="email"><strong>Email Address</strong></label>
<input type="text" id="email" name="email" class="form-control" placeholder="Enter Your Email Address"/>
<label class="title" for="password"><strong>Password</strong></label>
<input type="password" id="password" name="password" class="form-control" placeholder="Enter Your Password"/>
<br>
<div align="center"><button class="btn btn-danger" type="submit">Log In</button></div>
</div>
</form>
{% endblock %}